h1{
    color:#2A7B88;
}

#cabecalho{
    margin: 10px;
}

#cabecalho h1{

    margin-left: 20px;

    font-size: 60px;

    font-weight: 200;

    font-family: monospace;
}


#cabecalho .linha{
    
    background-color: #2a7b88;
        
    height: 2px;
        
    margin-top: 8px;
}
.componente > *:not(h1){
    margin-left: 20px;
}

#informacoes{
    margin: 20px;
}

#informacoes p{
    margin-bottom: 5px;
}

#corpo{
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}

.componente{
    margin-top: 15px;
    margin-left: 24px;
    font-size: 20px;
}

.componente h1{
    font-size: 30px;
    margin-bottom: 10px;
}

ul li::before{
    content:"\2022";
    color:#2A7B88;
    margin-right: 10px;
}

ul li{
    margin-bottom: 5px;
}

.titulo-experiencia{
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

#redes .img-rede{
    margin-left: 10px;
    margin-top: 10px;
}

#redes .img-rede img{
    width:50px
}